* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
:root {
  --background: #f4e5ff;
  --foreground: #000000;
  --card: #e7d8f2;
  --card-foreground: #19181a;
  --popover: #f4e5ff;
  --popover-foreground: #000000;
  --primary: #9400ff;
  --primary-foreground: #ffffff;
  --secondary: #b69bc9;
  --secondary-foreground: #000000;
  --muted: #cdcee4;
  --muted-foreground: #59545d;
  --accent: #bcbedb;
  --accent-foreground: #19181a;
  --destructive: #990000;
  --destructive-foreground: #e5e4e6;
  --border: #8559a5;
  --input: #30203b;
  --ring: #9400ff;
  --radius: 0.5rem;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
}
h1,h2,h3{
  color: var(--primary);
}
.container {
  margin: 0 auto;
}
.mobile {
  display: none;
}
.navbar-brand {
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--background);
}
.navbar-brand:hover {
  color: var(--background);
}
nav {
  background-color: var(--primary);
  position: fixed !important;
  width: 100%;
  z-index: 999;
  top: 0;
}
nav div {
  display: flex;
  justify-content: space-between;
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav-link {
  color: var(--background);
  font-size: 1.3em;
  font-weight: 500;
  position: relative;
}
.nav-link:hover {
  color: white;
}
.nav-link:hover::after,
.nav-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: var(--background);
  left: 0;
  bottom: -16px;
}
.nav-link.active {
  color: var(--background) !important;
}
.nav-link.remove-line:hover::after {
  height: 0;
}
.nav-link:active {
  color: var(--background);
}
.navbar-toggler {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 5px;
  border: 0;
}
.navbar-toggler:focus {
  border: 0;
}
.navbar-toggler .line{
  width: 30px;
  height: 2px;
  background-color: var(--background);
}
.hero {
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.hero .text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.hero h1 {
  font-size: 5.5em;
  font-weight: 900;
  color: var(--primary);
}
.hero p {
  color: var(--foreground);
  font-size: 1.3em;
}
.hero .read-more {
  color: var(--background);
  background-color: var(--primary);
  padding: 10px 20px;
  border-radius: var(--radius);
  text-decoration: none;
}
.after-hero{ 
  background-color: var(--border);
  padding: 50px;
  color: var(--background);
}
.after-hero div {
  border-right: 2px solid var(--background);
  text-align: center; 
}
.after-hero div:last-child {
  border: 0;
}
.after-hero h4{
  margin-top: 10px;
}
.recommended-section{
  background-color: white;
}
.product-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0;
}
.product-card img {
  width: 100%;
}
.product-card h3 {
  font-size: 1.2em;
  text-align: center;
}
.product-card h4 {
  text-align: center;
}
.add-to-cart {
  border: 0;
  outline: 0;
  background-color: var(--primary);
  color: white;
  padding: 10px;
  border-radius: var(--radius);
  cursor: pointer;
}
.add-to-cart:hover {
  opacity: 0.7;
  transition: all .3s;
}
.newsletter {
  padding: 50px 0;
  text-align: center;
}
.newsletter form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.newsletter input{
  border: 3px solid var(--border);
  border-radius: var(--radius);
  padding: 10px;
  width: 350px;
  outline: 0;
  background-color: var(--background);
  color: var(--foreground);
}
.newsletter button{
  padding: 10px;
  border-radius: var(--radius);
  border: 3px solid var(--primary);
  background-color: var(--primary);
  color: var(--background);
  transition: all .3s;
}
.newsletter button:hover {
  border-color:var(--border) ;
  background-color: var(--background);
  color: var(--primary);
}
footer {
  background-color: #9400ff;
}
footer h3 {
  color: var(--background);
  margin-bottom: 20px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li a {
  color: var(--background);
}
footer .links {
  font-size: 1.1em;
}
footer .links ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .col-md-3 {
  display: flex;
  flex-direction: column;
}
footer .social {
  justify-content: space-between;
}
footer .social ul{
  display: flex;
  font-size:2em;
  gap: 15px;
}
footer .info {
  color: var(--background);
}
.info ul li {
  font-size: 1.2em;
}
footer section {
  padding: 2em;
}
.copyright {
  text-align: center;
  border-top: 1px solid var(--background);
  color: var(--background);
  font-size: 1.2em;
}
.proizvodi {
  background-color: white;
  min-height: 100vh;
  margin-top: 5em;
}
.onama {
  padding: 1em 0;
  margin-top: 8vh;
}
.about-us {
  justify-content: space-between;
}
.onama h1 {
  font-size: 5em;
}
.onama p{
  font-size: 1.2em
}
@media screen and (max-width: 1200px) {
  .hero h1 {
    font-size: 3.5em;
  }
  .hero p {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 992px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
  .after-hero {
    padding: 50px 0;
  }
  .after-hero h4 {
    font-size: 1em;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    height: auto;
    text-align: center;
    margin-top: 5em;
  }
  .hero h1 {
    font-size: 3em;
  }
  .hero p {
    font-size: 1em;
  }
  .hero .text {
    align-items: center;
    gap: 0;
    margin-bottom: 20px;
  }
  .newsletter form input {
    width: 70%;
  }
  .proizvodi {
    margin-top: 4em;
  }
  main {
    margin-top: 4em;
  }
  footer section section {
    padding: 0;
  }
}
