* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
:root {
  --background: #f4e5ff;
  --foreground: #000000;
  --card: #e7d8f2;
  --card-foreground: #19181a;
  --popover: #f4e5ff;
  --popover-foreground: #000000;
  --primary: #9400ff;
  --primary-foreground: #ffffff;
  --secondary: #b69bc9;
  --secondary-foreground: #000000;
  --muted: #cdcee4;
  --muted-foreground: #59545d;
  --accent: #bcbedb;
  --accent-foreground: #19181a;
  --destructive: #990000;
  --destructive-foreground: #e5e4e6;
  --border: #8559a5;
  --input: #30203b;
  --ring: #9400ff;
  --radius: 0.5rem;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
}
h1,
h2,
h3 {
  color: var(--primary);
}
.container {
  margin: 0 auto;
}
.mobile {
  display: none;
}
.navbar-brand {
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--background);
}
.navbar-brand:hover {
  color: var(--background);
}
nav {
  background-color: var(--primary);
  position: fixed !important;
  width: 100%;
  z-index: 999;
  top: 0;
}
nav div {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
}
nav a {
  color: var(--background);
  font-size: 1.3em;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  height: 100%;
  padding: 0 0.4em;
}
nav a:hover {
  color: white;
}
nav a:hover::after,
nav a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: var(--background);
  left: 0;
  bottom: -29.1px;
}
nav a.active {
  color: var(--background) !important;
}
nav a.remove-line:hover::after {
  height: 0;
}
nav a.remove-line {
  font-size: 1.5em;
}
.nav-btn {
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}
.cart-counter {
  background-color: white;
  color: var(--primary);
  position: absolute;
  font-size: 0.7em;
  width: 3px;
  height: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -3px;
  left: 8px;
}
.hero {
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.hero .text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.hero h1 {
  font-size: 5.5em;
  font-weight: 900;
  color: var(--primary);
}
.hero p {
  color: var(--foreground);
  font-size: 1.3em;
}
.hero .read-more {
  color: var(--background);
  background-color: var(--primary);
  padding: 10px 20px;
  border-radius: var(--radius);
  text-decoration: none;
  transition: all .3s;
}.hero .read-more:hover {
  opacity: 0.8;
}
.after-hero {
  background-color: var(--primary);
  padding: 50px;
  color: var(--background);
}
.after-hero div {
  border-right: 2px solid var(--background);
  text-align: center;
}
.after-hero div:last-child {
  border: 0;
}
.after-hero h4 {
  margin-top: 10px;
}
.recommended-section {
  background-color: white;
}
.product-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0;
}
.product-card img {
  width: 100%;
}
.product-card h3 {
  font-size: 1.2em;
  text-align: center;
}
.product-card h4 {
  text-align: center;
}
.add-to-cart {
  border: 0;
  outline: 0;
  background-color: var(--primary);
  color: white;
  padding: 10px;
  border-radius: var(--radius);
  cursor: pointer;
}
.add-to-cart:hover {
  opacity: 0.7;
  transition: all 0.3s;
}

.newsletter {
  padding: 50px 0;
  text-align: center;
}
.newsletter form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.newsletter input,
.contact input {
  border: 3px solid var(--primary);
  border-radius: var(--radius);
  padding: 10px;
  width: 350px;
  outline: 0;
  background-color: var(--background);
  color: var(--foreground);
}
.newsletter button {
  padding: 10px;
  border-radius: var(--radius);
  border: 3px solid var(--primary);
  background-color: var(--primary);
  color: var(--background);
  transition: all 0.3s;
}
.newsletter button:hover {
  border-color: var(--primary);
  background-color: var(--background);
  color: var(--primary);
}
footer {
  background-color: #9400ff;
}
footer h3 {
  color: var(--background);
  margin-bottom: 20px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li a {
  color: var(--background);
}
footer .links {
  font-size: 1.1em;
}
footer .links ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .col-md-3 {
  display: flex;
  flex-direction: column;
}
footer .social {
  justify-content: space-between;
}
footer .social ul {
  display: flex;
  font-size: 2em;
  gap: 15px;
}
footer .info {
  color: var(--background);
}
.info ul li {
  font-size: 1.2em;
}
footer section {
  padding: 2em;
}
.copyright {
  text-align: center;
  border-top: 1px solid var(--background);
  color: var(--background);
  font-size: 1.2em;
}
.proizvodi {
  background-color: white;
  min-height: 100vh;
  margin-top: 5em;
}
.onama {
  padding: 1em 0;
  margin-top: 8vh;
  margin-bottom: 10px;
}
.about-us {
  justify-content: space-between;
}
.onama h1 {
  font-size: 5em;
}
.onama p {
  font-size: 1.2em;
}
.stampaj {
  padding: 10px 20px;
  background-color: var(--primary);
  color: white;
  border-radius: var(--radius);
  text-decoration: none;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  margin-top: 5em;
  padding: 1em 0;
}

.gallery img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
}
.gallery img:hover {
  filter: brightness(70%);
}
.gallery-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #140e38c7;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 999;
}
.gallery-overlay.open {
  display: flex;
}
.current-image {
  width: 80%;
  aspect-ratio: 16/9;
  object-fit: contain;
}
.close-preview {
  position: absolute;
  top: 1em;
  right: 1em;
  color: var(--background);
  font-size: 2em;
  z-index: 1000;
  cursor: pointer;
}
.gallery-overlay .next,
.gallery-overlay .prev {
  color: var(--background);
  font-size: 2em;
  cursor: pointer;
}
.contact {
  margin-top: 6em;
  padding: 1em 0;
}
.contact-info {
  background-color: white;
  padding: 1em;
  margin-bottom: 10px;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
}
.contact-info a {
  color: var(--foreground);
}
.contact form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact label {
  color: var(--foreground);
  font-size: 1.2em;
}
.contact button {
  border: 3px solid var(--primary);
  color: white;
  background-color: var(--primary);
  padding: 10px;
  border-radius: var(--radius);
  transition: all 0.3s;
}
.contact button:hover {
  opacity: 0.7;
}
.contact input,
.contact textarea {
  width: 100%;
  outline: 0;
  border: 3px solid var(--primary);
  padding: 10px;
  background-color: transparent;
  color: var(--foreground);
  resize: vertical;
}
.mapasajta {
  margin-top: 9vh;
  padding: 2em 0;
  background-color: var(--background);
}

.mapasajta h1 {
  font-size: 3em;
  color: var(--primary);
}

.mapasajta .card {
  background-color: var(--card);
  border: none;
  border-radius: var(--radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.mapasajta .card ul {
  list-style: none;
}

.mapasajta .card-header {
  background-color: var(--primary);
  color: var(--primary-foreground);
  font-weight: bold;
  text-align: center;
  border-radius: var(--radius) var(--radius) 0 0;
}

.mapasajta .list-group-item {
  background-color: transparent;
  color: var(--ring);
  border: none;
  padding: 10px 15px;
  transition:all .3s;
  cursor: pointer;
}

.mapasajta .list-group-item:hover {
  background-color: var(--primary);
  color: var(--primary-foreground);
}
.faq {
  margin-top: 4em;
  padding: 2em 0;
}
.accordion-button {
  background-color: var(--primary);
  color: var(--primary-foreground);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  outline: none;
}
.accordion-button.collapsed {
  background-color: var(--primary);
  outline: none;
  border: 0;
}

.accordion-button:not(.collapsed) {
  background-color: var(--primary);
  color: var(--primary-foreground);
  outline: none;
  border: 0;
}

.accordion-header {
  background-color: var(--primary);
  color: var(--primary-foreground);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: var(--radius);
}

.accordion-body {
  background-color: transparent;
  color: var(--foreground);
  padding: 10px 15px;
  border: none;
}

.accordion-button:focus {
  outline: none;
}

.thankyou {
  margin-top: 4em;
  padding: 2em 0;
}

.thankyou .container {
  max-width: 1200px;
  margin: 0 auto;
}

.thankyou h1 {
  font-size: 3em;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 20px;
}

.thankyou p {
  font-size: 1.2em;
  color: var(--foreground);
  margin-bottom: 20px;
  line-height: 1.6;
}
.thankyou a {
  color: var(--primary);
  font-weight: 900;
  text-decoration: none;
}
.korpa {
  margin-top: 5em;
  padding: 2em;
}
.korpa .row {
  justify-content: space-between;
  align-items: start;
}
.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  border-radius: var(--radius);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.cart-item img {
  max-height: 80px;
  object-fit: contain;
  border-radius: 8px;
}
.item-title {
  font-size: 1.1em;
  color: var(--foreground);
  margin: 0;
  width: 30%;
}

.counter {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: var(--radius);
  padding: 0.4em 1em;
  background-color: var(--background);
}

.counter h4 {
  font-size: 1.4em;
  margin: 0;
  color: var(--foreground);
}

.btn-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: var(--foreground);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.total-items-price {
  font-size: 1.2em;
  color: var(--primary);
  margin: 0;
}
.price-final {
  background-color: white;
  padding: 10px 20px;
  border-radius: var(--radius);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: var(--foreground);
}
.price-final-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  position: relative;
}

.price-final .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tooltip-modal {
  position: absolute;
  width: 200px;
  right: 0;
  background-color: var(--input);
  color: white;
  padding: 10px;
  bottom: -110px;
  border-radius: var(--radius);
  display: none;
}

.tooltip-btn:hover ~ .tooltip-modal {
  display: block;
}
.price-final-header a {
  color: var(--foreground);
}
.price-final form {
  padding: 1em 0;
}
.price-final form .red {
  display: flex;
  justify-content: space-between;
}
.price-final input,
.price-final button {
  border: 3px solid var(--primary);
  outline: 0;
  padding: 0.5em 1em;
  color: var(--foreground);
  border-radius: var(--radius);
}
.price-final input {
  width: 59%;
}
.price-final button {
  background-color: var(--primary);
  color: white;
  transition: all 0.3s;
  font-size: 1em;
}

.price-final button:hover {
  opacity: 0.8;
}
.finish {
  width: 100%;
}
.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: 1;
}
.login-image,
.login-form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary);
  text-align: left;
  gap: 20px;
}
.login-form.register-form{
  gap: 10px;
}
.login-form {
  background-color: var(--background);
}
.login-form form,
.login .red {
  width: 70%;
}
.login-form form input,
.login-form form button {
  border: 3px solid var(--primary);
  padding: 10px;
  border-radius: var(--radius);
  background-color: var(--background);
  outline: 0;
}
.login-form .input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.login-form form button {
  width: 100%;
  background-color: var(--primary);
  color: white;
  transition: all 0.3s;
}
.login-form form button:hover {
  opacity: 0.8;
}
.input-group label {
  font-size: 1.2em;
}
.login-form .red {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  text-align: center;
  color: var(--muted-foreground);
}
.login-form .red span {
  width: 44%;
}
.login-form .red .line {
  width: 28%;
  height: 2px;
  background-color: var(--accent);
}
.login-form .red.google-fb-login {
  gap: 10px;
}
.login-form .red button {
  border: 3px solid var(--primary);
  padding: 10px;
  border-radius: var(--radius);
  background-color: var(--background);
  width: 50%;
  color: var(--primary);
}
.text-left {
  text-align: left;
  width: 70%;
}
.login form .group {
  display: flex;
  gap: 10px;
}
.login form .group .input-group {
  width: 50%;
}
.login form .group .input-group input {
  width: 100%;
}
.register-image {
  width: 70%;
}
.back {
  position: absolute;
  top: 1em;
  left: 1em;
  color:var(--primary);
  text-decoration: none;
}
.login-back {
  color: var(--background);
}
@media screen and (max-width: 1200px) {
  .hero h1 {
    font-size: 3.5em;
  }
  .hero p {
    font-size: 1.1em;
  }
  .login-image img {
    width: 80%;
  }
  .login-form form,
  .login .red,
  .text-left {
    width: 90%;
  }
}
@media screen and (max-width: 992px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
  .after-hero {
    padding: 50px 0;
  }
  .after-hero h4 {
    font-size: 1em;
  }
  nav ul {
    position: absolute;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100vh;
    padding: 1em;
    top: 0;
    right: 0;
    background-color: var(--primary);
    z-index: 999;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    gap: 10px;
  }
  nav a:hover::after,
  nav a.active::after {
    height: 0;
  }
  .close-btn {
    color: white;
    font-size: 2em;
    position: absolute;
    top: 1em;
    right: 1em;
  }
  nav ul li .remove-line {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  nav ul.open {
    transform: translateX(0);
  }
  nav button {
    background-color: transparent;
    border: 0;
    outline: 0;
  }
  .cart-items {
    width: 100%;
  }
  .korpa {
    padding: 0;
  }
  .cart-item {
    background-color: transparent;
    box-shadow: 0 0 0 white;
    padding: 0;
    border: 0;
  }
  .cart-items,
  .price-final {
    border-radius: 0;
    box-sizing: 0;
  }
  .price-final input {
    width: 79%;
  }
  .login {
    flex-direction: column;
  }
  .login-image {
    display: none;
  }
  .login-form {
    width: 100%;
    height: 100vh;
  }
  .login-form form,
  .login-form .red,
  .text-left {
    width: 445px;
  }
  .login-back {
    color: var(--primary);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    height: auto;
    text-align: center;
    margin-top: 5em;
  }
  nav ul {
    width: 100%;
  }
  .hero h1 {
    font-size: 3em;
  }
  .hero p {
    font-size: 1em;
  }
  .hero .text {
    align-items: center;
    gap: 0;
    margin-bottom: 20px;
  }
  .newsletter form input {
    width: 70%;
  }
  .proizvodi {
    margin-top: 5em;
  }
  main {
    margin-top: 4em;
  }
  footer {
    width: 100%;
  }
  footer section section {
    padding: 0;
  }
  .about-us {
    gap: 50px;
  }
  .copyright {
    font-size: 1em;
  }
  .item-title {
    font-size: 0.8em;
  }
  .cart-item img {
    width: 60px;
  }
  .counter {
    gap: 10px;
  }
  .price {
    padding: 1em 0;
  }
  .total-items-price {
    font-size: 1em;
  }
  .btn-counter {
    font-size: 1em;
  }
  .price-final button {
    font-size: 0.9em;
  }
  .price-final input {
    width: 69%;
  }
  main.login {
    margin: 0;
  }
}
@media screen and (max-width: 450px) {
  .korpa.container {
    padding: 0;
  }
  .price-final input {
    width: 60%;
  }
  .login-form form,
  .login .red,
  .text-left {
    width: 100%;
    padding: 0 1em;
  }
}
@media screen and (max-width: 450px) {
  .price-final input {
    width: 57%;
  }
}
